.app .title {
  text-align: center;
}

.app .container {
  display: flex;
  flex-direction: row;
}

.app .container .display {
  width: 65%;
  height: 800px;
  border: 1px solid red;
}

.app .container .rules {
  width: 35%;
  height: 800px;
  border: 1px solid red;
}

.app .about {
  text-align: center;
}
